.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-family: 'Playball', cursive;
  font-size: 80px;
}
h2{
  font-family: 'Chivo', sans-serif;
  font-size: 35px;
}
p{
  font-family: 'Sarala', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landingSlide {
  position: relative;
  height: 90vh;
}

.landingSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .3s ease;
}

.landingSlider  h1, .landingSlider h2 {
  color: #4e2c5a;
}

.landingSlider.activeSlide {
  opacity: 1;
  transition-duration: .2s;
}

.landingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landingSliderText {
  padding: 10% 20%
}