.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.innerChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(345deg, #A0AAE7 40%, #BA92F3 90%) ;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.formChat {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.inputChat {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
