.outerContainer {
  display: flex;
  justify-content: center;

  height: 120vh;
  background-color: white;
}

.innerChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #A0AAE7;
  box-shadow: 3px 2px 3px 2px rgba(0,0,0,0.2);
  border-radius: 8px;
  height: 60%;
  width: 45%;
}

.sendButton {
  color: #fff !important;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(345deg, #A0AAE7 40%, #BA92F3 90%) ;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.formChat {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.inputChat {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.chatAnim img{
  width: 300px;
  height: 300px;
  align-items: center;
}
.chatAnimPlane img{
  width: 200px;
  height: 200px;
}
.chatAnimPlane h2{
  font-size: 40px;
}
